:root{
    --primary-color: #e50914;
}
*{
    box-sizing: border-box;    
}
html{
    height: 100%;
    width: 100%;
}
body{
    font-family: Helvetica ,sans-serif;
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: #00071f;
    color: #999;
}
h1,h2,h3,h4{
    color: white;
}
.text h1{
    font-weight: 1000;
    font-size: larger;
    margin-bottom: 0%;
}
.text #secondtext{
    margin-top: 0%;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 22px;
}
.showcase{
    width: 100%;
    height: 85vh;
    background-image: url("../img/background.jpg");
}
.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 400px 100px 250px #070c27;
    opacity: 0.9;
}
.showcase .showcase-top{
    position: relative;
    width: 100%;
    z-index: 2;
}
.details{
    margin-left: 8rem;
    position: relative;
    z-index: 2;
}
.showcase .text{
    margin-top: 6rem;
    margin-left: 8rem;
    width: 100%;
    position: relative;
    z-index: 2;
}
.showcase-top img{
    margin-left: 3rem;
    margin-top: 20px;
    width: 10rem;
}
.showcase-top .signin{
    float: right;
    margin-top: 20px;
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 0.8rem;
    margin-right: 1.2rem;
    margin-left: 0.8rem;
    font-weight: 50px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}
.signin:hover{
    opacity: 0.9;
}
.getstarted:hover{
    opacity: 0.9;
}
.showcase-top .langSelect{
    float: right;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    color: white;
    background-color: transparent;
    padding: 0.5rem 0.8rem;
    width: 7.8rem;
    font-weight: 50px;
    border-radius: 6px;
    cursor: pointer;
    background-color:  rgba(0, 0, 0, 0.3);
}
.langSelect:hover{
    opacity: 0.9;
}
.text h1{
    font-size: 3.5rem;
    font-weight: 50px;
    z-index: 2;
}
.emailbar{
    padding: 12px 16px;
    text-align: left;
    margin-right: 5px;
    width: 23rem;
    height: 3.3rem;
    background-color:  rgba(30, 30, 31, 0.8);
    color: white;
    border-radius: 4px;
    font-weight: 300;
    font-size: 1.2rem;
    border: white;
    border-color: white;
}
.getstarted{
    height: 3.3rem;
    width: 10rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
}
.getstarted img{
    height: 16px;
}
.en{
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #010F42;
    border-radius: 10px;
    z-index: 2;
}
.en1{
    background: linear-gradient(to top left, #000235 , #010F42 , #E40913 );
    opacity: 0.9;
    padding: 2.75rem 0;
    border-radius: 10px;
}
.en1,.en2,.en3,.en4{
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    padding: 20px;
    z-index: 3;
}
.text1 h2,.text3 h2{
    position: relative;
    padding-top: 90px;
    font-weight: 1000;
    padding-left: 5.2rem;
    font-size: 50px;
}
.text1 h3,.text3 h3{
    position: relative;
    padding-left: 5.2rem;
}
.text4 h2,.text2 h2{
    position: relative;
    padding-top: 90px;
    font-weight: 1000;
    padding-right: 5.2rem;
    font-size: 50px;
}
.text2 h3,.text4 h3{
    position: relative;
    padding-right: 5.2rem;
}
.ln1,.ln2,.ln3{
    width: 100;
    margin-left: 5.2rem;
    margin-right: 5.2rem;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.6);
}
.questions{
    width: 80rem;
    height: 40rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.questions h2{
    position: relative;
    z-index: 3;
    font-size: 38px;
    font-weight: 900;
}
.accordian{
    margin: 60px ;
    width: 100%;
    position: relative;
    box-decoration-break: none;
    max-width: 750px;
    z-index: 3;
}
.accordian li{
    list-style: none;
    width: 100%;
    z-index: 3 ;
}
.accordian li label{
    display: flex;
    align-items: center;
    height: 85px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    background:#070c27;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordian .content{
    background:#070c27;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    transition: max-height 0.5s,padding 0.5s;
    z-index: 3;
}
.accordian input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordian input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.finaltext{
    position: relative;
    z-index: 3;
}
.details2 .emailbar2{
        padding: 12px 16px;
        text-align: left;
        margin-right: 5px;
        width: 23rem;
        height: 3.3rem;
        background-color:  rgba(30, 30, 31, 0.8);
        color: white;
        border-radius: 4px;
        font-weight: 300;
        font-size: 1.2rem;
        border: white;
        border-color: white;
}
@media (min-width: 319px) and (max-width: 480px) {

    .showcase-top > img{
        margin-left: 3%;
        width: 90px;
    }
    .showcase-top > .langSelect{
        width: 48px;
    }
    .showcase-top > .signin{
        margin-right: 2.5rem;
    }
    .showcase .text{
        font-size: 5px;
        margin-left: 0%;
    }
    #firsttext{
        font-size: 37px;
        padding-left: 30px;
        margin-bottom: 3px;
        max-width: 75%;
    }
    #secondtext{
        padding-right: 2px;
        margin-bottom: 0px;
        padding-left: 30px;
        font-weight: lighter;
    }
    #thirdtext{
        padding-left: 30px;
        margin: 0%;
        font-size: medium;
        max-width: 85%;
        font-weight: lighter;
    }
    .showcase .details{
        margin-left: 30px;
        margin-top: 20px;
    }
    .emailbar{
        width: 250px;
        height: 45px;
    }
    .getstarted{
        margin-top: 18px;
    }
    .en{
        margin-top: 80px;
        margin-left: 20px;
        width: 315px;
    }
    .details2{
        margin-top: 100px;
        margin-left: 0%;
    }
    .emailbar2{
        width: 250px;
    }
    .getstarted{
        margin-top: 10px;
        height: 45px;
    }
    .en img{
        width: 100%;
        padding: 0%;
    }
    .en h2,h3{
        font-size: 5px;
        padding: 0%;
    }
    .questions{
        margin-left: 5px;
        width: 100%;
    }
}